<!-- Para poder utilizar el FormGroup es necesario realizar importaciones dentro de el AppModule -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add new person</h5>
          <form (submit)="savePerson()" [formGroup]="personForm">
            <div class="mb-3">
              <label for="" class="form-label">Name</label>
              <input type="text" formControlName="name" class="form-control">
              <label for="" class="form-label">Last Name</label>
              <input type="text" formControlName="lastName" class="form-control">
              <label for="" class="form-label">Age</label>
              <input type="number" formControlName="age" class="form-control">
              <!-- Lista de paises obtenidas desde el back -->
              <!-- El método Change permite cambiar la información de una vraiable en la clase, teniendo en cuenta algo que ocurra en este elemento -->
              <label for="" class="form-label">Country</label>
              <select class="form-select" aria-label="Default select example" formControlName="country">
                <option [ngValue]="country" *ngFor="let country of countries">{{country.name}}</option>
              </select>
              <!-- Lista de estados teniendo en cuenta el pais -->
              <label for="" class="form-label" *ngIf="states">State</label>
              <select class="form-select" aria-label="Default select example" formControlName="state" *ngIf="states">
                <option [ngValue]="state" *ngFor="let state of states">{{state.nombre}}</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
